//FONTS
//@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');

//GLOBALS
li{
    list-style: none;
    padding: 0;
}
section {
    padding: 60px 0;
    overflow: hidden;
}
a{
    text-decoration: none;
}
// HEADER
.pre-header{
    background-color: rgb(0, 0, 0);
    height: 35px;
    .container{
        display: flex;
        justify-content: space-between;
        .pre-socials{
            margin-top: 5px;
            a{
                margin-right: 15px;
                i{
                    font-size: 17px;
                }
                
            }
            a:nth-child(5){
                margin-right: 30px;
            }
        }
    }
}
.header{
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    .header-container{
        display: flex;
        justify-content: space-between;
        margin: 0px 10%;
        .left{
            .logo{
                padding-top: 10px;
                h1{
                    font-family: 'Encode Sans SC', sans-serif;
                    color: #222222;
                    font-size: 28px;
                }
            }
        }
        .right{
            .nav{
                padding-top: 15px;
                .unordered{
                    display: flex;
                    li{
                        a{
                            text-decoration: none;
                            padding: 10px;
                            cursor: pointer !important;
                        }
                    }
                }
            }
        }
    }
}
.bars{
    display: none;
}
@media(max-width: 700px){
    .pre-header{
        display: none;
    }
    .header{
        transition: 0.3s ease-in-out;
        height: 54px;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        position: relative;
        .left{
            .logo{
                position: absolute;
                right: 0px;
                //margin-left: -20px;
                h1{

                }
            }
        }
        .right{
            .bars{
                display: block;
                .fa-bars{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    font-size: 25px;
                }
                .fa-times{
                    position: absolute;
                    top: 20px;
                    left: 200px;
                    font-size: 25px;
                    display: none;
                }
            }
            .nav{
                width: 300px;
                height: 79vh;
                background-color: #fff;
                margin-left: calc(-10% + -11px);
                display: none;
                transition: 0.3s ease-in-out;
                position: absolute;
                z-index: 99;
            }
        }
    }
    .unordered{
        display: flex;
        flex-direction: column;
        li{
            margin-bottom: 10px;
        }
    }
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
//   .sticky + .content {
//     padding-top: 102px;
//   }
// JUMBOTRON
.content{
    .jumbotron{
        height: 350px;
        background-image: url('../images/jumbotron.png');
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        .container{
            .jumb-flex{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap-reverse;
                .jumb-text{
                    padding-top: 70px;
                    h2{
                        margin: 0;
                        font-size: 48px;
                        font-weight: 700;
                        line-height: 56px;
                        color: #deeafd;
                        font-family: "Poppins", sans-serif;
                    }
                    p{
                        color: #deeafd;
                        margin: 5px 0 30px 0;
                        font-size: 20px;
                        line-height: 1.4;
                    }
                    .jumb-links{
                        display: flex;
                        flex-direction: row;
                    }
                    .getstarted{
                        position: relative;
                        z-index: 2;
                        display: inline-block;
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #fff;
                        text-decoration: none;
                        padding: 18px 30px;
                        letter-spacing: 2px;
                        font-weight: 500;
                    }
                    .getstarted:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        background-color: #000000;
                        z-index: -1;
                        transition: all ease 0.5s;
                        margin-top: 7px;
                    }
                    .getstarted:hover:before{
                        width: 100%;
                    }
                    .fa-sign-in{
                        margin-left: 20px;
                        margin-top: 15px;
                        color: #4457DC;
                        font-size: 30px;
                    }
                    .jumb-login-text{
                        font-size: 16px;
                        transition: 0.5s;
                        margin-left: 10px;
                        color: #deeafd;
                        position: absolute;
                        margin-top: 15px;
                    }
                    .fa-sign-in::before {
                        content: "\f2f6";
                    }
                    
                }
                .jumb-img{
                    position: relative;
                    width: 250px;
                    height: 250px;
                    background: radial-gradient(260px, #f08f538c, transparent 50%);
                    margin-top: 50px;
                    margin-right: 100px;
                    .social-icons{
                        height: 100%;
                        animation: rotation 60s linear infinite;
                        a{
                            position: absolute;
                            font-size: 25px;
                        }
                        a:nth-child(1){
                            top: 0;
                            left: 42%;
                            color: rgb(51, 255, 51);
                        }
                        a:nth-child(2){
                            top: 25%;
                            right: 0;
                        }
                        a:nth-child(3){
                            top: 75%;
                            left: 75%;
                            color: #ff42aa;
                        }
                        a:nth-child(4){
                            top: 25%;
                            left: 0;
                            color: #31e0ff;
                        }
                        a:nth-child(5){
                            top: 70%;
                            left: 10%;
                            color: #001eff;
                        }
                    }
                    @keyframes rotation {
                        100%{
                            transform: rotate(360deg);
                        }
                    }
                    .email-icon{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 100px;
                        color: #a72828;
                    }
                }
            }
        }
    }
}
@media(max-width: 990px){
    .jumb-img{
        display: none;
    }
    .jumb-text{
        padding-top: 30px !important;
    }
}
//ABOUT
.about{
    background-color: #f6f9fe;
    .container{
        .about-title{
            text-align: center;
            padding-bottom: 30px;
            h2{
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 700;
                padding: 8px 20px;
                margin: 0;
                background: #e7f1fd;
                color: #106eea;
                display: inline-block;
                text-transform: uppercase;
                border-radius: 50px;
            }
            h3{
                margin: 15px 0 0 0;
                font-size: 32px;
                font-weight: 700;
            }
        }
        .about-flex{
            display: flex;
            .about-img{
                width: 50%;
                padding-right: 15px;
                padding-left: 15px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .about-text{
                width: 50%;
                padding-right: 15px;
                padding-left: 15px;
                ul{
                    li{
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 35px;
                        i{
                            background: #fff;
                            box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
                            font-size: 24px;
                            padding: 20px;
                            margin-right: 15px;
                            color: #106eea;
                            border-radius: 50px;
                        }
                    }
                    li:first-child {
                        margin-top: 35px;
                    }
                }
            }
        }
    }
}
@media(max-width: 700px){
    .cr{
        padding-right: 0;
        padding-left: 0;
    }
    .about-flex{
        flex-direction: column;
        .about-img{
            width: 100% !important;
        }
        .about-text{
            width: 100% !important;
        }
    }
}
//HOW IT WORKS
.how-it-works{
    .container{
        .about-title{
            text-align: center;
            padding-bottom: 30px;
            h2{
                font-size: 13px;
                letter-spacing: 1px;
                font-weight: 700;
                padding: 8px 20px;
                margin: 0;
                background: #e7f1fd;
                color: #106eea;
                display: inline-block;
                text-transform: uppercase;
                border-radius: 50px;
            }
            h3{
                margin: 15px 0 0 0;
                font-size: 32px;
                font-weight: 700;
            }
        }
        .workings-flex{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            //flex-wrap: wrap;
            .work-register{
                text-align: center;
                .icon{
                    width: 90px;
                    height: 90px;
                    border-radius: 10px;
                    background: #4457DC;
                    position: relative;
                    box-shadow: 0 8px 28px rgba(68, 87, 220, 0.2);
                    margin: 0 auto;
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #deeafd;
                        font-size: 35px;
                    }
                }
            }
            .work-activate{
                text-align: center;
                .icon{
                    width: 90px;
                    height: 90px;
                    border-radius: 10px;
                    background: #4457DC;
                    position: relative;
                    box-shadow: 0 8px 28px rgba(68, 87, 220, 0.2);
                    margin: 0 auto;
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #deeafd;
                        font-size: 35px;
                    }
                }
            }
            .work-earning{
                text-align: center;
                .icon{
                    width: 90px;
                    height: 90px;
                    border-radius: 10px;
                    background: #4457DC;
                    position: relative;
                    box-shadow: 0 8px 28px rgba(68, 87, 220, 0.2);
                    margin: 0 auto;
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #deeafd;
                        font-size: 35px;
                    }
                }
            }
        }
    }
}
@media(max-width: 900px){
    .workings-flex{
        display: flex;
        flex-direction: column !important;
    }
    .work-register, .work-activate, .work-earning{
        width: 100%;
        margin-bottom: 20px;
    }
}
// FOOTER
.footer{
    .footer-container{
        .footer-flex{
            display: flex;
            justify-content: space-evenly;
            .footer-brand{
                ul{
                    padding-left: 0px;
                    li{
                        padding: 10px 0px;
                        i{
                            padding-right: 2px;
                            color: #4457DC;
                            font-size: 18px;
                            line-height: 1;
                        }
                        a {
                            color: #777777;
                            transition: 0.3s;
                            display: inline-block;
                            line-height: 1;
                        }
                    }
                }
            }
            .footer-useful-links{
                ul{
                    padding-left: 0px;
                    li{
                        padding: 10px 0px;
                        i{
                            padding-right: 2px;
                            color: #4457DC;
                            font-size: 18px;
                            line-height: 1;
                        }
                        a {
                            color: #777777;
                            transition: 0.3s;
                            display: inline-block;
                            line-height: 1;
                        }
                    }
                }
                
            }
            .footer-policy{
                ul{
                    padding-left: 0px;
                    li{
                        padding: 10px 0px;
                        i{
                            padding-right: 2px;
                            color: #4457DC;
                            font-size: 18px;
                            line-height: 1;
                        }
                        a {
                            color: #777777;
                            transition: 0.3s;
                            display: inline-block;
                            line-height: 1;
                        }
                    }
                }
                
            }
            .footer-socials{
                .footer-social-icons{
                    display: flex;
                    justify-content: space-evenly;
                    a{
                        background-color: rgb(151, 151, 151);
                        margin-right: 10px;
                        border-radius: 5px;
                        i{
                            color: #000000;
                            font-size: 25px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    .footer-copyright{
        text-align: center;
        padding: 20px;
        padding-bottom: 10px;
    }
}
@media(max-width: 1000px){
    .footer{
        .footer-container{
            .footer-flex{
                display: flex;
                flex-direction: column;
                .footer-brand{
                    width: 100%;
                    margin-left: 30px;
                }
                .footer-useful-links{
                    width: 100%;
                    margin-left: 30px;
                }
                .footer-policy{
                    width: 100%;
                    margin-left: 30px;
                }
            }
        }
    }
}
@media(max-width: 500px){
    .footer{
        .footer-container{
            .footer-flex{
                display: flex;
                flex-direction: column;
                .footer-brand{
                    width: 100%;
                    margin-left: 10px;
                }
                .footer-useful-links{
                    width: 100%;
                    margin-left: 10px;
                }
                .footer-policy{
                    width: 100%;
                    margin-left: 10px;
                }
            }
        }
    }
}
// BLOG